.App {
  display: flex;
  flex-direction: column;
}

.rewards-service {
  margin: auto;
  font-size: 50px;
  padding-top: 1em;
}

.eligibility {
  margin: auto;
  font-size: 25px;
  padding-top: 1em;
}
