.individual-channels {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1em;
}

.individual-channels__sports {
  border: 1px solid black;
  margin: 2em;
  padding: 0.5em 2em 4em 2em;
}

.individual-channels__kids {
  border: 1px solid coral;
  margin: 2em;
  padding: 0.5em 2em 4em 2em;
}

.individual-channels__music {
  border: 1px solid green;
  margin: 2em;
  padding: 0.5em 2em 4em 2em;
}

.individual-channels__news {
  border: 1px solid red;
  margin: 2em;
  padding: 0.5em 2em 4em 2em;
}

.individual-channels__movies {
  border: 1px solid purple;
  margin: 2em;
  padding: 0.5em 2em 4em 2em;
}
